<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <f:layout name="Content" />

    <f:section name="Configuration">
        <flux:form id="teufelsCptCntBsCarousel"
                   label="TYPO3 :: Bootstrap :: Carousel (with Lazyloading)"
                   options="{group: 'teufels', icon: '{f:uri.resource(path: \'Icons/icon-teufels-64x64-in-use.png\')}'}">

            <flux:form.section name="slides" label="Slides">
                <flux:form.object name="slide" label="Slide">

                    <flux:field.custom name="customCaption">
                        <div class="bs-callout bs-callout-warning callout callout-warning t-callout t-callout-warning">
                            <h4>Caption</h4>
                            <p>Write a Caption if needed. Use <code>&lt;br&gt;</code> for linebreaks.</p>
                        </div>
                    </flux:field.custom>
                    <flux:field.text name="tCaption" rows="3" />

                    <flux:field.custom name="customHide">
                        <div class="bs-callout bs-callout-warning callout callout-warning t-callout t-callout-warning">
                            <h4>Hide</h4>
                            <p>Check to hide the Slide.</p>
                        </div>
                    </flux:field.custom>
                    <flux:field.custom name="customHide1">
                        <div class="bs-callout bs-callout-danger callout callout-danger t-callout t-callout-danger">
                            <p><strong>Never hide the first Slide!</strong></p>
                        </div>
                    </flux:field.custom>
                    <flux:field.checkbox name="tDisable" />
                </flux:form.object>
            </flux:form.section>

            <flux:grid>
                <f:for each="{slides}" as="sectionObject" iteration="iteration" key="index">
                    <flux:grid.row>
                        <flux:grid.column name="slide_image_{index}" label="Slide {iteration.cycle} (Index: {index})" />
                    </flux:grid.row>
                </f:for>
            </flux:grid>

        </flux:form>
    </f:section>

    <f:section name="Preview">
        <div class="bs-callout bs-callout-warning callout callout-warning t-callout t-callout-warning">
            <h4>Simple Bootstrap Carousel</h4>
            <p>Simple Image Slider with Captions.</p>
        </div>
        <!-- uncomment this to use a grid for nested content elements -->
        <flux:widget.grid />
    </f:section>

    <f:section name="Main">

        <v:variable.set name="sClassOuter" value="{v:variable.typoscript(path: 'plugin.tx_teufels_cpt_cnt_bs_carousel.settings.production.bootstrapCarouselSimple.sClassOuter')}" />
        <v:variable.set name="sClassInner" value="{v:variable.typoscript(path: 'plugin.tx_teufels_cpt_cnt_bs_carousel.settings.production.bootstrapCarouselSimple.sClassInner')}" />
        <v:variable.set name="sContainerElement" value="{v:variable.typoscript(path: 'plugin.tx_teufels_cpt_cnt_bs_carousel.settings.production.bootstrapCarouselSimple.sContainerElement')}" />
        <v:variable.set name="iInterval" value="{v:variable.typoscript(path: 'plugin.tx_teufels_cpt_cnt_bs_carousel.settings.production.bootstrapCarouselSimple.iInterval')}" />

        <f:if condition="{sContainerElement} == 'div'">
            <f:then>
                <f:render section="HtmlDiv"
                          arguments="{slides: '{slides}', record: '{record}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}', iInterval: '{iInterval}'}" />
            </f:then>
        </f:if>

        <f:if condition="{sContainerElement} == 'section'">
            <f:then>
                <f:render section="HtmlSection"
                          arguments="{slides: '{slides}', record: '{record}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}', iInterval: '{iInterval}'}" />
            </f:then>
        </f:if>

        <f:if condition="{sContainerElement} == 'article'">
            <f:then>
                <f:render section="HtmlArticle"
                          arguments="{slides: '{slides}', record: '{record}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}', iInterval: '{iInterval}'}" />
            </f:then>
        </f:if>

    </f:section>

    <f:section name="HtmlSection">
        <section id="carousel-id-{record.uid}" class="carousel {sClassOuter}" data-ride="carousel" data-interval="{iInterval}">
            <f:render section="ForEachSlide"
                      arguments="{slides: '{slides}', record: '{record}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}'}" />
        </section>
    </f:section>

    <f:section name="HtmlArticle">
        <article id="carousel-id-{record.uid}" class="carousel {sClassOuter}" data-ride="carousel" data-interval="{iInterval}">
            <f:render section="ForEachSlide"
                      arguments="{slides: '{slides}', record: '{record}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}'}" />
        </article>
    </f:section>

    <f:section name="HtmlDiv">
        <div id="carousel-id-{record.uid}" class="carousel {sClassOuter}" data-ride="carousel" data-interval="{iInterval}">
           <f:render section="ForEachSlide"
                          arguments="{slides: '{slides}', record: '{record}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}'}" />
        </div>
    </f:section>

    <f:section name="ForEachSlide">

        <f:render section="indicators"
                  arguments="{slides: '{slides}', record: '{record}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}'}" />

        <div class="{sClassInner}">
            <v:variable.set name="max" value="99" />
            <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.t2config_bMobile')} == '1'">
                <f:then>
                    <v:variable.set name="max" value="5" />
                </f:then>
            </f:if>
            <f:for each="{slides}" as="sectionObject" iteration="iteration" key="index">

                <f:if condition="{iteration.isFirst}">
                    <f:then>
                        <v:variable.set name="activeslide" value="active"/>
                    </f:then>
                    <f:else>
                        <v:variable.set name="activeslide" value=""/>
                    </f:else>

                </f:if>

                <f:if condition="{sectionObject.slide.tDisable}">
                    <f:else>
                        <f:if condition="{iteration.cycle} <= {max}">
                            <f:then>
                                <div class="item {activeslide}">
                                    <!-- FAL :: {sectionObject.slide.tImage} -->
                                    <flux:content.render area="slide_image_{index}" />
                                    <f:if condition="{sectionObject.slide.tCaption}">
                                        <div class="carousel-caption">
                                            <f:format.raw>
                                                {sectionObject.slide.tCaption}
                                            </f:format.raw>
                                        </div>
                                    </f:if>
                                </div>
                            </f:then>
                        </f:if>
                    </f:else>
                </f:if>

            </f:for>
        </div>

        <f:render section="controls"
                  arguments="{slides: '{slides}', record: '{record}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}'}" />
    </f:section>

    <f:section name="indicators">
        <!-- Indicators -->
        <v:variable.set name="i" value="0" />
        <v:variable.set name="max" value="99" />
        <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.t2config_bMobile')} == '1'">
            <f:then>
                <v:variable.set name="max" value="5" />
            </f:then>
        </f:if>
        <ol class="carousel-indicators">
            <f:for each="{slides}" as="sectionObject" iteration="iteration" key="index">

                <f:if condition="{iteration.isFirst}">
                    <f:then>
                        <v:variable.set name="activeslide" value="active"/>
                    </f:then>
                    <f:else>
                        <v:variable.set name="activeslide" value=""/>
                    </f:else>
                </f:if>

                <f:if condition="{sectionObject.slide.tDisable}">
                    <f:else>
                        <f:if condition="{iteration.cycle} <= {max}">
                            <f:then>
                                <li data-target="#carousel-id-{record.uid}" data-slide-to="{i}" class="disabled {activeslide}"></li>
                                <v:variable.set name="i" value="{v:math.sum(a: '{i}', b: '1')}" />
                            </f:then>
                        </f:if>
                    </f:else>
                </f:if>

            </f:for>
        </ol>
    </f:section>

    <f:section name="controls">
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-id-{record.uid}" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-id-{record.uid}" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </f:section>

</div>